<div class="box">
    <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="Wednesday," october="" 18="">+</button>
    </form>
</div>