body {
    height: 100vh;
    margin: 0;
    color: black;
    background-color: #b6ffb9;
}
/* header */
.header{
    margin: 2rem;
}
a{
    margin-left: 2rem;
    text-decoration: none;
    color: #2b942f;
    font-size: 1rem;
}
a:hover{
    color: #427c44;
}

/* main tasks */
.encabezado{
    display: flex;
    justify-content: center;
}
h1{
    display: inline-block;
    text-align: center;
    background-color: #427c44;
    padding: 2rem;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
.boxTask{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    font-size: 1rem;
}
.itemTask{
    margin-left: 1rem;
    margin-right: 2rem;
    width: 20px; 
    height: 20px;
    
}
.itemTask:checked + .task-description {
    text-decoration: line-through #2b942f;
}



/* form */
form{
    padding: 1rem;
}
.boxInput{
    display: flex;
    justify-content: center;
}
.box{
    display: flex;
    justify-content: center;
}
.container {
    text-align: center;
}

.item {
    display: flex;
    align-items: center;
    
}

.item input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
}

.item button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.item button:hover {
    background-color: #45a049;
}